header {
    padding: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem
}

@media screen and (max-width: 55.5rem) {
    header {
        font-size: 0.77rem
    }
  }