nav {
    background-color: red;
    padding: 1rem;
    text-align: left;
}

.nav__a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

.nav__a:hover {
    text-decoration: underline;
}